.container.mx-auto.px-4.py-8
  %h1.text-2xl.font-bold.mb-6 Questions

  .overflow-x-auto
    %table.min-w-full.divide-y.divide-gray-200
      %tbody.bg-white.divide-y.divide-gray-200
        - @questions.each do |question|
          %tr.hover:bg-gray-50
            %td.px-6.py-4= question.question
            %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
              = time_ago_in_words(question.created_at) + ' ago'
            - if current_user && question.user_id == current_user.id
              %td.px-6.py-4.whitespace-nowrap
                = link_to 'Edit', edit_question_path(question), class: "text-blue-600 hover:text-blue-800"
              %td.px-6.py-4.whitespace-nowrap
                = link_to 'Delete', question,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "text-red-600 hover:text-red-800"

  - if user_signed_in?
    .mt-8
      = link_to 'New Question', new_question_path,
        class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
