%h1 Questions

%table
  - @questions.each do |question|
    %tr
      %td= question.question
      %td= time_ago_in_words(question.created_at) + ' ago'
      - if current_user && question.user_id = current_user.id
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Delete', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if user_signed_in?
  %td= link_to 'New Question', new_question_path
