%p#notice= notice

%h2 Group Name:
%h3= @group.name
- if current_user == @group.leader
  = link_to 'Edit Group Name', edit_group_path(@group)

.row
  .columns.large-4
    %h2 Members
    - @group.users.each do |user|
      %p
        - if user == @group.leader
          Leader:
        #{user.email}

    - if current_user == @group.leader
      %h4 Add Members to this Group
      = form_tag('/invite', method: 'post') do
        .form-inputs
          = label_tag(:emails, "Enter emails, separated by commas:")
          = text_area_tag(:emails)
          = hidden_field_tag(:group_id, @group.id)
        .form-actions
          = submit_tag("Add Members")
  .columns.large-8
    %h2 Q&A Digests
    - if current_user == @group.leader
      = form_tag('/send_random', method: 'post') do
        .form-inputs
          = hidden_field_tag(:group_id, @group.id)
        .form-actions
          = submit_tag('Send Random Question')
    %table
      %tbody
        - @question_records.each do |record|
          %tr
            %td= Question.find(record.question_id).question
            - if record.created_at
              %td= record.created_at.strftime("%B %d, %Y")
            %td= link_to 'View Digest for this Question', question_record_path(record.id)

- if current_user == @group.leader
  .row
    .columns.large-12
      %td= link_to 'Delete This Group?', @group, :method => :delete, :data => { :confirm => 'Are you sure?' }
