!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      %h1 Question and Answer Digest:
      %h2= @group.name
      %h4= @question
      - if @question_record.created_at
        %h4= @question_record.created_at.strftime("%B %d, %Y")
  %table
    %tbody
      - @group.users.each do |user|
        %tr
          - if user.profile_image_url(:thumb)
            %td= image_tag user.profile_image_url(:thumb).to_s
          - else
            %td= image_tag user.gravatar_url
          %td= user.email
          - @answers.each do |answer|
            - if user.id == answer.user_id
              %td= answer.answer
