<!DOCTYPE html>
<html>
  <head>
    <title>Answers 2 Answers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tag :meta, name: 'canonical', content: url_for(protocol: 'https') %>
  </head>

  <body class="min-h-screen bg-white flex flex-col">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <main class="flex-grow">
      <div class="container mx-auto px-4">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>